/* 
 This file will have the all the code related to Base HTML
 - Author : Pavel Ray   
*/

*{
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size:80.5%;
    height: 100%;
}

body{
    box-sizing: border-box;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 400;
    height: 100%;
}

.fc-content{
    cursor: pointer;
}

.pos-absolute{
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
}

#root{
    height: 100%;
}


.ui.vertical.accordion.ui.inverted.menu{
    width:100%;
    font-size: 1.5rem;
}
